<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2011 - 2019 Henix

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses />.

-->
<xhtml:div class="ErrorMessages"   xml:lang="en"
    xmlns:xhtml="http://www.w3.org/1999/xhtml" >	
	<!-- Where the error message contains dynamic information, the message has been split into an "a" and a "b" section.
	     This has been done even when the English does not require it, in order to accomodate different language grammars
	     that might position the dynamic information differently.
	-->
	<xhtml:p id="sch-message-1-en">Schema error: Schematron elements in old and new namespaces found</xhtml:p>
	<xhtml:p id="sch-message-2-en">Schema error: in the queryBinding attribute, use 'xslt'</xhtml:p>
	<xhtml:p id="sch-message-3a-en">Fail: This implementation of ISO Schematron does not work with schemas using the query language </xhtml:p>
	<xhtml:p id="sch-message-3b-en"/>
	<xhtml:p id="sch-message-4a-en">Phase Error: no phase has been defined with name </xhtml:p>
	<xhtml:p id="sch-message-4b-en" />
	<xhtml:p id="sch-message-5-en">Markup Error: no pattern attribute in &lt;active></xhtml:p>
	<xhtml:p id="sch-message-6a-en">Reference Error: the pattern  "</xhtml:p>
	<xhtml:p id="sch-message-6b-en">" has been activated but is not declared</xhtml:p>
	<xhtml:p id="sch-message-7-en">Markup Error: no test attribute in &lt;assert</xhtml:p>
	<xhtml:p id="sch-message-8-en">Markup Error: no test attribute in &lt;report></xhtml:p>
	<xhtml:p id="sch-message-9-en">Markup Error: no id attribute in &lt;diagnostic></xhtml:p>
	<xhtml:p id="sch-message-10-en">Markup Error: no rule attribute in &lt;extends></xhtml:p>				   
	<xhtml:p id="sch-message-11a-en">Reference Error: the abstract rule  "</xhtml:p>
	<xhtml:p id="sch-message-11b-en">" has been referenced but is not declared</xhtml:p>				
	<xhtml:p id="sch-message-12-en">Markup Error: no name attribute in &lt;key></xhtml:p>
	<xhtml:p id="sch-message-13-en">Markup Error: no path or use attribute in &lt;key></xhtml:p>
	<xhtml:p id="sch-message-14-en">Markup Error: no path or use attribute in &lt;key></xhtml:p>
	<xhtml:p id="sch-message-15-en">Schema error: The key element is not in the ISO Schematron namespace. Use the XSLT namespace.</xhtml:p>
	<xhtml:p id="sch-message-16-en">Markup Error: no name attribute in &lt;function></xhtml:p>
	<xhtml:p id="sch-message-17-en">Schema error: The function element is not in the ISO Schematron namespace. Use the XSLT namespace.</xhtml:p>
	<xhtml:p id="sch-message-18-en">Schema error: Empty href= attribute for include directive.</xhtml:p>
	<xhtml:p id="sch-message-19-en">Error: Impossible URL in Schematron include</xhtml:p>
	<xhtml:p id="sch-message-20a-en">Unable to open referenced included file: </xhtml:p>
	<xhtml:p id="sch-message-20b-en" />
	<xhtml:p id="sch-message-21-en">Schema error: Use include to include fragments, not a whole schema</xhtml:p>
	<xhtml:p id="sch-message-22-en">Schema error: XSD schemas may only be imported if you are using the 'xslt2' query language binding</xhtml:p>
	<xhtml:p id="sch-message-23-en">Schema error: The import-schema element is not available in the ISO Schematron namespace. Use the XSLT namespace.</xhtml:p>
	<xhtml:p id="sch-message-24-en">Warning: Variables should not be used with the "xpath" query language binding.</xhtml:p>
	<xhtml:p id="sch-message-25-en">Warning: Variables should not be used with the "xpath2" query language binding.</xhtml:p>
	<xhtml:p id="sch-message-26-en">Markup Error: no uri attribute in &lt;ns></xhtml:p>
	<xhtml:p id="sch-message-27-en">Markup Error: no prefix attribute in &lt;ns></xhtml:p>
	<xhtml:p id="sch-message-28-en">Schema implementation error: This schema has abstract patterns, yet they are supposed to be preprocessed out already</xhtml:p>
    <xhtml:p id="sch-message-29-en">Markup Error: no id attribute in &lt;phase></xhtml:p>
    <xhtml:p id="sch-message-30-en">Markup Error: no context attribute in &lt;rule></xhtml:p>
    <xhtml:p id="sch-message-31-en">Markup Error: no id attribute on abstract &lt;rule></xhtml:p>
    <xhtml:p id="sch-message-32-en">Markup Error: (2) context attribute on abstract &lt;rule></xhtml:p>
    <xhtml:p id="sch-message-33-en">Markup Error: context attribute on abstract &lt;rule></xhtml:p>
    <xhtml:p id="sch-message-34-en">Markup Error: no select attribute in &lt;value-of></xhtml:p>
    <xhtml:p id="sch-message-35a-en">Warning: </xhtml:p>
	<xhtml:p id="sch-message-35b-en"> must not contain any child elements</xhtml:p>
    <xhtml:p id="sch-message-36a-en">Reference error: A diagnostic "</xhtml:p>
	<xhtml:p id="sch-message-36b-en">" has been referenced but is not declared</xhtml:p>
	<xhtml:p id="sch-message-37a-en">Using the XSLT namespace with a prefix other than "xsl" in Schematron rules is not supported in this processor:</xhtml:p>
    <xhtml:p id="sch-message-37b-en" />
    <xhtml:p id="sch-message-38a-en">Error: unrecognized element in ISO Schematron namespace: check spelling and capitalization</xhtml:p>
	<xhtml:p id="sch-message-38b-en" />
	<xhtml:p id="sch-message-39a-en">Warning: unrecognized element </xhtml:p>
	<xhtml:p id="sch-message-39b-en" />
 </xhtml:div>